<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Awasu News</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pace.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="{{ url_for('static', filename='js/pace.js') }}"></script>
    <!-- Tabulator -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.2.0/dist/js/tabulator.min.js"></script>
        <link href="https://unpkg.com/tabulator-tables@4.2.0/dist/css/tabulator.min.css" rel="stylesheet">

  </head>
<body>
<h1></h1>
<nav>
    <a href="{{ url_for('index_menu') }}" class="btn_root">[Index]</a>
    <a href="{{ url_for("all_news") }}" class="btn_root">[ALL]</a>
    <a href="{{ url_for("favorite", option='ch_list_process') }}" class="btn_root">[FAV]</a>
    <a href="{{ url_for("quick", limit_news=10) }}" class="btn_root">[Q10]</a>
    <a href="{{ url_for("quick", limit_news=25) }}" class="btn_root">[Q25]</a>
    {% if menu_folders %}
        {% for menu_folder_item in menu_folders %}
            <a href="{{ url_for("infolder", position=menu_folder_item['position']) }}">{{ menu_folder_item['name']|repair_pl_chars }}</a>
        {% endfor %}
    {% endif %}
</nav>
<div class="infobox" style=>
    <h2>Info</h2>
    <p>Articles: {{articles_data|length }}</p>
</div>
<br>
{% if exist_data %}
    <p><span>Articles: {{articles_data|length }}</span> | </p>
    <table id="awasu-news-data">
        <thead>
            <tr>
                <th>Channel</th>
                <th>Title</th>
                <th>Published</th>
                <th>Link</th>
            </tr>
        </thead>
    <tbody>
    {% for index, art_data in articles_data.iterrows() %}
            <tr>
                <td>{{ art_data['Channel Name'] }}</td>
                <td>{{ art_data['Item Title'] }}</td>
                <td>{{ art_data['Published'] }}</td>
                <td>{{ art_data['Item URL'] }}</td>
            </tr>
    {% endfor %}
    </tbody>
{% endif %}
{% if exist_data %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endif %}
</body>
</html>