{% import "skeleton/base.html" as helpers %}
<!DOCTYPE html>
<html>
  {{ helpers.generate_head() }}
<body>
{{ helpers.generate_nav(menu_folders) }}
<p>STATS: Articles: [{{ count_articles }}] | Available channels: [{{ count_channels }}]</p>
<div class="options">
    <a href="{{ url_for("selected_arts") }}" class="btn-opt">Selected articles</a>
    <a href="{{ url_for("awasu_update") }}" class="btn-opt">[= UPDATE =]</a>
    <a href="{{ url_for("limit_news_count", limit=10) }}" class="btn-opt">Set 10 Global limit</a>
    <a href="{{ url_for("remove_limit_news_view") }}" class="btn-opt">[ REMOVE GLOBAL LIMIT ]</a>
</div>
<div class="option">
    <a href="#" class="btn-opt">Videos</a>
</div>
<footer>{{ ver }} | Programming by J.acek S.krzypacz</footer>
</body>
</html>